{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'taskAdd/css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Criar Tarefa</h1>
        </header>
        <div id="task-input">
            <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}
                <input type="text" name="title" id="task-text" placeholder="Digite sua tarefa" required>
                <input type="date" name="due_date" id="task-date" required>
                <select name="priority" id="task-priority">
                    <option value="Baixa">Baixa</option>
                    <option value="Média">Média</option>
                    <option value="Alta">Alta</option>
                </select>
                <button type="submit" id="add-task">Salvar Tarefa</button>  
            </form>     
        </div>
    </div>

</body>
</html>