{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'tasklist/css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Minha Lista de Tarefas</h1>
        </header>
        <div id="task-input">
            <input type="text" id="task-text" placeholder="Digite sua tarefa">
            <input type="date" id="task-date">
            <select id="task-priority">
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select>
            <button id="add-task">Adicionar Tarefa</button>
        </div>
        <button id="show-tasks">Tarefas Adicionadas</button>
        <ul id="task-list" style="display: none;"></ul>
    </div>

    <script src="scripts.js"></script>
</body>
</html>